In [71]:
import pandas as pd
import numpy as np
import requests
from io import StringIO
import math
import csv
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
from sklearn import tree

In [111]:
#Read CSV file from the url to DataFrame
url = "https://github.com/Brunel-Visualization/Brunel/raw/master/python/examples/data/whiskey.csv"
s = requests.get(url).text
wk = pd.read_csv(StringIO(s))

In [112]:
wk.describe()

           Rating       Price         ABV         Age
count  272.000000  279.000000  270.000000  174.000000
mean    84.474265   72.483871   44.610444   14.339080
std     11.877887   83.992242    5.883056    6.322267
min     40.000000    2.000000   35.500000    0.000000
25%     80.000000   30.000000   40.000000   10.000000
50%     88.000000   50.000000   43.000000   14.500000
75%     94.000000   80.000000   46.000000   18.000000
max    100.000000  850.000000   68.200000   40.000000

In [113]:
wk.head()

,Name,Rating,Country,Category,Price,ABV,Age,Brand
0,Canadian Hunter Canadian Whisky,40.0,Canada,Blended,9.0,40.0,NaN,Canadian Hunter
1,Canadian LTD Blended Canadian Whiskey,43.0,Canada,Blended,10.0,NaN,NaN,Canadian LTD
2,Kellan Irish Whiskey,47.0,Ireland,Blended,20.0,40.0,NaN,Kellan
3,Rich & Rare Canadian Whisky,47.0,Canada,Blended,10.0,NaN,NaN,Rich & Rare
4,Canadian Mist Blended Canadian Whisky,48.0,Canada,Blended,12.0,40.0,NaN,Canadian Mist

In [114]:
wk = wk.drop('Name', axis=1)
wk = wk.drop('Age', axis=1)
wk = wk.drop('Brand', axis=1)
wk = wk.dropna()

In [125]:
wk.head()

   Rating  Country Category  Price   ABV
0    40.0   Canada  Blended    9.0  40.0
2    47.0  Ireland  Blended   20.0  40.0
4    48.0   Canada  Blended   12.0  40.0
6    53.0   Canada  Blended   12.0  40.0
8    54.0      USA  Blended   20.0  40.0

In [126]:
data = wk.values

In [127]:
def outlier(x):
    rating_q1 = np.percentile(x,25)
    rating_q3 = np.percentile(x,75)
    IQR = rating_q3 - rating_q1
    lower_outlier = rating_q1 - (1.5*IQR)
    higher_outlier = rating_q3 + (1.5*IQR)
    return lower_outlier, higher_outlier

In [128]:
"""med0 = np.median(data[:,0])
med3 = np.median(data[:,3])
med4 = np.median(data[:,4])
print(med0, med3, med4)

l0, u0 = outlier(data[:,0])
l3, u3 = outlier(data[:,3])
l4, u4 = outlier(data[:,4])
print(l0, u0)
print(l3, u3)
print(l4, u4)

x0 = [med0 if data[i,0] < l0 or data[i,0] > u0 else data[i,0] for i in range(data.shape[0])]
x3 = [med3 if data[i,3] < l3 or data[i,3] > u3 else data[i,3] for i in range(data.shape[0])]
x4 = [med4 if data[i,4] < l4 or data[i,4] > u4 else data[i,4] for i in range(data.shape[0])]
data[:,0] = x0
data[:,3] = x3
data[:,4] = x4"""

'med0 = np.median(data[:,0])\nmed3 = np.median(data[:,3])\nmed4 = np.median(data[:,4])\nprint(med0, med3, med4)\n\nl0, u0 = outlier(data[:,0])\nl3, u3 = outlier(data[:,3])\nl4, u4 = outlier(data[:,4])\nprint(l0, u0)\nprint(l3, u3)\nprint(l4, u4)\n\nx0 = [med0 if data[i,0] < l0 or data[i,0] > u0 else data[i,0] for i in range(data.shape[0])]\nx3 = [med3 if data[i,3] < l3 or data[i,3] > u3 else data[i,3] for i in range(data.shape[0])]\nx4 = [med4 if data[i,4] < l4 or data[i,4] > u4 else data[i,4] for i in range(data.shape[0])]\ndata[:,0] = x0\ndata[:,3] = x3\ndata[:,4] = x4'

In [129]:
data[:,1] = LabelEncoder().fit_transform(data[:,1])
data[:,2] = LabelEncoder().fit_transform(data[:,2])

In [130]:
data = MinMaxScaler().fit_transform(data)
print(data)

[[0.         0.         0.         0.         0.13761468]
 [0.11666667 0.5        0.         0.01307967 0.13761468]
 [0.13333333 0.         0.         0.00356718 0.13761468]
 ...
 [0.98333333 1.         0.07142857 0.08442331 0.81039755]
 [1.         0.5        0.85714286 0.07491082 0.32110092]
 [1.         0.75       0.42857143 0.18549346 0.2293578 ]]

C:\Anaconda3\lib\site-packages\sklearn\utils\validation.py:590: DataConversionWarning: Data with input dtype object was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

In [131]:
label = np.array(["low" if d <= 0.33 else "medium" if d <= 0.66 else "high" for d in data[:,0]])

In [132]:
x = data[:,1:]
y = label

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, shuffle=True)
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(208, 4) (208,)
(52, 4) (52,)

In [133]:
clf = tree.DecisionTreeClassifier()
clf.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [134]:
count = 0
for i in range(x_test.shape[0]):
    if clf.predict(x_test[0].reshape(1, -1)) == y_test[i]:
        count += 1
    else:
        print(clf.predict(x_test[i].reshape(1, -1)), y_test[i])
        
print("acc:", count/x_test.shape[0])

['high'] medium
['medium'] medium
['high'] medium
['high'] low
['low'] medium
['high'] medium
['medium'] medium
['high'] medium
['medium'] medium
['high'] medium
['medium'] medium
['low'] medium
acc: 0.7692307692307693